* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  flex-direction: column;
  
  background: rgb(238,174,202);
  background-image: linear-gradient(to right top, #051937, #004d7a, #008793, #00bf72, #a8eb12);

  
  animation: gradient 16s linear infinite;
  animation-direction: alternate;
}
@keyframes gradient {
  0% {
    background-position: 0%;
  }
  100% {
    background-position: 100%;
  }
}
.top-txt {
  margin-bottom: 25px;
  background-image: linear-gradient(45deg, #bcff37, #3ACAF8);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; 
}
.container {
  box-shadow: 0 0 4px 1px rbg(179, 169, 169);
  width: 400px;
  height: 350px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.container p {
  color: rbg(20, 94, 82);
  margin: 10px;
  font-size: 20px;
  font-weight: bolder;
}
.inputContainer {
  margin: 5px;
  display: flex;
  justify-content: space-between;
  width: 70%;
}
.inputContainer label {
  font-size: larger;
  font-weight: 600;
  background-image: linear-gradient(45deg, #bcff37, #3ACAF8);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; 
}

.style::placeholder {
  color: #c3c3c3;
  font-family: arial;
}

.inputContainer input {
  background: transparent;
  border: 1px solid whitesmoke;
  outline: none;
  padding: 4px;
  font-size: 15px;
  border-radius: 10px;
  font-family: "Times New Roman", Times, serif;
}
